{% extends "base.html" %}

{%block title%}
404: File not found
{%endblock%}

{%block content%}
<body>
    <div class="container center ">
        <div class="row clearfix">
            <div class=" jumbotron col-offset-2 col-6">
                <h1>{{ self.title() }}
                <br>
                <small class="text-danger"> {%block summary%}
                    {%endblock%} </small></h1>

                <h2> I think you went to the wrong page. </h2>
                <h4> But that's okay.</h4>
                <p>
                    <a href="/" class="btn btn-large btn-primary">Go Home</a>
                </p>
            </div>
        </div>
    </div>
    </div>
</body>
{%endblock%}
