{% extends "base.html" %}

{%block title%}
{{filename}}
{%endblock%}

{%block content%}

<div class="list-group">
    {% for is_dir, item in contents %}
    <div class="list-group-item">
        <a href="{{request.path.rstrip('/')}}/{{item}}"><i class="icon-{{'folder-close' if is_dir else 'file-text'}}"></i> {{item}}</a>
    </div>
    {% endfor%}
</div>

<script>
    var changeDir = function(item) {
        value = item.options[item.selectedIndex].value;
        if (value) {
            location.href = value;
        }
    };

</script>
{%endblock%}
